<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            MLSecure Project
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-default">
           <h1>Malicious URLs Detector App</h1>
        </nav>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

        <!-- Search within texts -->
        <div class="jumbotron">
            <form class="form-group" action="/urlsearch" method="post">
                <label>Enter URLs or any texts (Emails, Messages)</label>
                <textarea name="search_text" class="form-control" rows="10" col="50"></textarea> <br>
                <br><br>
                
                <label>Choose URL Status</label>
                <select name="url_status" id="url_status">
                    <option value='all'>All</option>
                    {% for d in data.url_status.unique() %}
                        <option value={{d}}>{{d}}</option>
                    {% endfor %}
                    </select>
                <br><br>

                <label>Choose URL threat</label>
                <select name="url_threat" id="url_threat">
                    <option value='all'>All</option>
                    {% for d in data.threat.unique() %}
                        <option value={{d}}>{{d}}</option>
                    {% endfor %}
                </select>
                <br><br>

                <label>Choose URL tags</label>
                <select name="url_tags" id="url_tags">
                    <option value='all'>All</option>
                    {% for d in data.tags.unique() %}
                        <option value={{d}}>{{d}}</option>
                    {% endfor %}
                </select>
                <br><br>

                <button class="btn btn-primary" type="submit" name="submit" value="add_text">Submit</button>

            </form>
        </div>

        
        <div class="container-fluid">
            <label>{{x}}</label>
            <p>{{y}}</p>
            <br>
            {% for index, row in d.iterrows() %}
                <button type="button" class="collapsible">
                    {{row['url']}}
                </button>
                <div class="content">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Status: {{row['url_status']}}
                        </li>
                        <li class="list-group-item">
                            Threat: {{row['threat']}}
                        </li>
                        <li class="list-group-item">
                            Tags: {{row['tags']}}
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </div>

        <!-- html template goes here -->
    </body>
</html>